/*Setando Página*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    color: #333;
  }

body {
    background-color: #333;

    transition: background 0.2s linear;
}

button {
    background-color: ghostwhite;
    color: #333;
    border: 2px solid #333;
    border-radius: 5px;
    padding: 0.3rem 0.6rem;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

button:hover {
    background-color: #333;
    color: ghostwhite;
}
  
button:hover > i {
    color: ghostwhite;
}

button i {
    pointer-events: none;
    color: #333;
    font-weight: bold;
}

input,
select {
  padding: 0.25rem 0.5rem;
}

.hide {
    display: none;
}

.theme{
    max-width: 450px;
    margin: 3rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.label {
    background-color: #111;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    height: 26px;
    width: 50px;
    transform: scale(1.5);
}

.label .ball {
    background-color: #fff;
    border-radius: 50px;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 22px;
    width: 22px;
    transform: translateX(0px);
    transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
    transform: translate(24px);
}

.fa-moon {
    color: #f1c40f;
}

.fa-sun {
    color: #f39c12;
}

/* To Do Header */
.todo-container {
    max-width: 450px;
    margin: 3rem auto;
    background-color: white;
    box-shadow: 4px 4px 2px 2px rgba(0, 0, 0, 0.25);
    padding: 1.5rem;
    border-radius: 15px;
}

.todo-container header {
    text-align: center;
    padding: 0 1rem 1rem;
    border-bottom: 1px solid #ccc;
}

/* Todo Form */
#todo-form,
#edit-form {
  padding: 1rem;
  border-bottom: 1px solid #ccc;
}

#todo-form p,
#edit-form p {
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.form-control {
  display: flex;
}

.form-control input {
  margin-right: 0.3rem;
}

#cancel-edit-btn {
  margin-top: 1rem;
  color: #444;
}

/* Todo Toolbar */
#toolbar {
    padding: 1rem;
    border-bottom: 1px solid #ccc;
    display: flex;
}
  
#toolbar h4 {
    margin-bottom: 0.5rem;
}

#search {
    border-right: 1px solid #ddd;
    padding-right: 1rem;
    margin-right: 1rem;
    width: 65%;
    display: flex;
    flex-direction: column;
}

#search form {
    display: flex;
  }
  
#search input {
    width: 100%;
    margin-right: 0.3rem;
}
  
#filter {
    width: 35%;
    display: flex;
    flex-direction: column;
}
  
#filter select {
    flex: 1;
}

/* Todo List */
.todo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 1rem;
    border-bottom: 1px solid #ddd;
    transition: 0.3s;
}
  
.todo h3 {
    flex: 1;
    font-size: 0.9rem;
}

.todo button {
    margin-left: 0.4rem;
}
  
.done {
    background: gray;
}
  
.done h3 {
    color: #fff;
    text-decoration: line-through;
    font-style: italic;
}

/* MUDANDO TEMA */

body.light {
    background: #fafafa;
}

.todo-container.dark {
    background-color: #000;
}